@import 'react-big-calendar/lib/css/react-big-calendar.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 97.1%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 170.4 71.4% 34.3%;
    --primary-foreground: 0 0% 100%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220 8.9% 10%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 43.1%;
    --accent: 180 82.4% 30.6%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 170.4 71.4% 34.3%;
    --radius: 0.5rem;

    /* Sidebar */
    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 224 71.4% 4.1%;
    --sidebar-border: 220 13% 91%;
    --sidebar-accent: 220 14.3% 95.9%;
    --sidebar-accent-foreground: 220 8.9% 10%;
    --sidebar-ring: 170.4 71.4% 34.3%;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 170.4 71.4% 34.3%;
    --primary-foreground: 0 0% 100%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 180 82.4% 30.6%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 170.4 71.4% 34.3%;

    /* Sidebar */
    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 224 71.4% 4.1%;
    --sidebar-border: 220 13% 91%;
    --sidebar-accent: 220 14.3% 95.9%;
    --sidebar-accent-foreground: 220 8.9% 10%;
    --sidebar-ring: 170.4 71.4% 34.3%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.rbc-agenda-table .rbc-agenda-time-cell {
  text-align: right;
}

.rbc-agenda-table>tbody>tr:not(:last-child) {
  margin-bottom: 2px;
}

.rbc-agenda-table .rbc-agenda-date-cell {
  min-width: 110px !important;
}

.rbc-agenda-table tr td:first-child:not(.rbc-agenda-date-cell) {
  /* visibility: hidden; */
  width: 187px !important;
}

.rbc-agenda-table .rbc-agenda-event-cell {
  width: auto;
  cursor: pointer;
}

/* . {
  color: red;
  background: #fff;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 5px;
  opacity: 1;
} */